.grid-container {
    display: grid;
    grid-template-columns: 20px 300px 20px 300px 20px 300px;
}

.item1 {
    grid-column: 2;
}

.item1 {
    grid-column: 4;
}

.item1 {
    grid-column: 6;
}

.card {
    font-family: Roboto;
    height: 410px;
    width: 300px;
    border-color: #333333;
}

.card-image {
    height: 205px;
    width: 300px;
    margin: 0px;
}

.card-image > img {
    height: 205px;
    width: 300px;
    margin: 0px;
}

.card-text {
    text-align: center;
    height: 205px;
    width: 300px;
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.card-title {
    /* margin-top: 30px; */
    font-size: 20px;
}

.card-description {
    margin-top: 30px;
    font-size: 15px;
}

.card-price-basket {
    margin-top: 30px;
    font-size: 35px;
}

.basket {
    float: right;
    margin-right: 25px;
    /* display: inline-block; */
    background-color: #4ED17B;
    height: 40px;
    width: 50px;
    border-radius: 5%;
}

.basket > i {
    margin-left: 8px;
}